---
import { Image } from "astro:assets";
import profilePicture from "../../assets/perfil.jpg";
---

<section
  id="home"
  class="max-w-screen-lg pt-12 min-h-dvh mx-auto *:text-center px-4 flex justify-center items-center flex-col gap-y-6"
>
  <div
    id="profilePicture"
    class="rounded-full w-32 h-32 sm:w-52 sm:h-52 overflow-hidden relative border-4 border-blue-500 shadow-xl shadow-cyan-900"
  >
    <Image
      src={profilePicture}
      alt="foto de perfil"
      class="-top-[70px] sm:-top-[115px] absolute"
    />
  </div>

  <main id="home-main">
    <h1 class="font-bold text-4xl sm:text-5xl md:text-6xl">Adán Maidana</h1>
    <p class="text-cyan-600 font-medium text-lg sm:text-xl md:text-2xl">
      Desarrollador Frontend
    </p>

    <ul class="flex justify-center items-center gap-x-4 mt-2">
      <li>
        <a
          href="https://github.com/AdanMaidana"
          rel="noopener noreferrer"
          target="_blank"
          class="group flex items-center justify-center mx-auto p-1 sm:p-2 rounded-lg bg-black hover:bg-white border-white border-2"
        >
          <svg
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
              <path
                d="M18.6713 2.62664C18.5628 2.36483 18.3534 2.16452 18.0959 2.07627L18.094 2.07564L18.0922 2.07501L18.0884 2.07374L18.0805 2.07114L18.0636 2.06583C18.0518 2.06223 18.039 2.05856 18.0252 2.05487C17.9976 2.04749 17.966 2.04007 17.9305 2.03319C17.8593 2.01941 17.7728 2.00787 17.6708 2.00279C17.466 1.99259 17.2037 2.00858 16.8817 2.08054C16.3447 2.20053 15.6476 2.47464 14.7724 3.03631C14.7152 3.07302 14.6572 3.11096 14.5985 3.15016C14.5397 3.13561 14.4809 3.12155 14.422 3.108C12.8261 2.74083 11.1742 2.74083 9.57825 3.108C9.51933 3.12156 9.46049 3.13561 9.40173 3.15017C9.34298 3.11096 9.28499 3.07302 9.22775 3.03631C8.35163 2.47435 7.65291 2.20029 7.11455 2.08039C6.79179 2.00852 6.52891 1.99262 6.324 2.00278C6.22186 2.00784 6.13536 2.01931 6.06428 2.03299C6.0288 2.03982 5.99732 2.04717 5.96983 2.05447C5.95609 2.05812 5.94336 2.06176 5.93163 2.06531L5.91481 2.07056L5.90698 2.07311L5.9032 2.07437L5.90135 2.07499L5.89952 2.07561C5.63979 2.16397 5.42877 2.36623 5.32049 2.63061C4.91716 3.6154 4.8101 4.70134 5.00435 5.74306C5.01379 5.79367 5.02394 5.84418 5.0348 5.89458C4.99316 5.95373 4.9527 6.01368 4.91343 6.07439C4.30771 7.01089 3.98553 8.12791 4.00063 9.27493C4.00208 11.7315 4.71965 13.4139 5.9332 14.4965C6.62014 15.1093 7.41743 15.4844 8.21873 15.7208C8.31042 15.7479 8.40217 15.7731 8.49381 15.7967C8.48043 15.8432 8.46796 15.8901 8.45641 15.9373C8.40789 16.1357 8.37572 16.3394 8.36083 16.5461C8.35948 16.5648 8.35863 16.5835 8.35829 16.6022L8.32436 18.421L8.32417 18.4407C8.32417 18.4464 8.32417 18.4521 8.32417 18.4577C8.26262 18.473 8.20005 18.4843 8.13682 18.4916C7.942 18.5141 7.74467 18.4977 7.5561 18.4434C7.36752 18.3891 7.19127 18.2979 7.03752 18.1749C6.88377 18.0519 6.75553 17.8994 6.66031 17.7261L6.6505 17.7087C6.38836 17.2535 6.02627 16.8639 5.59142 16.5695C5.15656 16.275 4.6604 16.0836 4.14047 16.0099C3.59365 15.9324 3.08753 16.3128 3.01002 16.8597C2.93251 17.4065 3.31296 17.9126 3.85978 17.9901C4.07816 18.0211 4.28688 18.1015 4.47012 18.2256C4.65121 18.3482 4.80277 18.5103 4.9134 18.7C5.1346 19.0992 5.43165 19.4514 5.78801 19.7365C6.14753 20.0242 6.56032 20.2379 7.00272 20.3653C7.43348 20.4893 7.88392 20.5291 8.32949 20.4825C8.33039 20.7224 8.33103 20.9065 8.33103 21C8.33103 21.5523 8.75521 22 9.27847 22H14.7558C15.279 22 15.7032 21.5523 15.7032 21V17.2095C15.729 16.7802 15.685 16.3499 15.5738 15.9373C15.5585 15.8805 15.5419 15.824 15.5241 15.7679C15.5838 15.753 15.6435 15.7373 15.7032 15.7208C16.5277 15.4937 17.3513 15.1224 18.0588 14.4983C19.2791 13.4217 19.9982 11.7379 19.9996 9.27493C20.0147 8.12791 19.6925 7.01089 19.0868 6.07439C19.0475 6.01358 19.007 5.95354 18.9652 5.89429C18.976 5.84399 18.9861 5.79358 18.9955 5.74306C19.1893 4.69934 19.0795 3.61142 18.6713 2.62664Z"
                class="home-svg group group-hover:fill-black"
                fill="#fff"></path>
            </g></svg
          >
        </a>
      </li>

      <li>
        <a
          href="https://www.linkedin.com/in/adanmaidana/"
          rel="noopener noreferrer"
          target="_blank"
          class="group flex items-center justify-center mx-auto p-1 sm:p-2 rounded-lg bg-blue-600 hover:bg-white border-white border-2"
        >
          <svg
            class="group p-1 fill-white group-hover:fill-blue-600 home-svg"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 310 310"
            xml:space="preserve"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
              <g id="XMLID_801_">
                <path
                  id="XMLID_802_"
                  d="M72.16,99.73H9.927c-2.762,0-5,2.239-5,5v199.928c0,2.762,2.238,5,5,5H72.16c2.762,0,5-2.238,5-5V104.73 C77.16,101.969,74.922,99.73,72.16,99.73z"
                ></path>
                <path
                  id="XMLID_803_"
                  d="M41.066,0.341C18.422,0.341,0,18.743,0,41.362C0,63.991,18.422,82.4,41.066,82.4 c22.626,0,41.033-18.41,41.033-41.038C82.1,18.743,63.692,0.341,41.066,0.341z"
                ></path>
                <path
                  id="XMLID_804_"
                  d="M230.454,94.761c-24.995,0-43.472,10.745-54.679,22.954V104.73c0-2.761-2.238-5-5-5h-59.599 c-2.762,0-5,2.239-5,5v199.928c0,2.762,2.238,5,5,5h62.097c2.762,0,5-2.238,5-5v-98.918c0-33.333,9.054-46.319,32.29-46.319 c25.306,0,27.317,20.818,27.317,48.034v97.204c0,2.762,2.238,5,5,5H305c2.762,0,5-2.238,5-5V194.995 C310,145.43,300.549,94.761,230.454,94.761z"
                ></path>
              </g>
            </g></svg
          >
        </a>
      </li>

      <li>
        <a
          href="https://wa.me/+541158084919"
          rel="noopener noreferrer"
          target="_blank"
          class="group flex items-center justify-center mx-auto p-1 sm:p-2 rounded-lg bg-green-500 hover:bg-white border-white border-2"
        >
          <svg
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            stroke="#000"
            stroke-width="0.00024000000000000003"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
              <path
                d="M6.014 8.00613C6.12827 7.1024 7.30277 5.87414 8.23488 6.01043L8.23339 6.00894C9.14051 6.18132 9.85859 7.74261 10.2635 8.44465C10.5504 8.95402 10.3641 9.4701 10.0965 9.68787C9.7355 9.97883 9.17099 10.3803 9.28943 10.7834C9.5 11.5 12 14 13.2296 14.7107C13.695 14.9797 14.0325 14.2702 14.3207 13.9067C14.5301 13.6271 15.0466 13.46 15.5548 13.736C16.3138 14.178 17.0288 14.6917 17.69 15.27C18.0202 15.546 18.0977 15.9539 17.8689 16.385C17.4659 17.1443 16.3003 18.1456 15.4542 17.9421C13.9764 17.5868 8 15.27 6.08033 8.55801C5.97237 8.24048 5.99955 8.12044 6.014 8.00613Z"
                class="home-svg group group-hover:fill-green-500 fill-white"
              ></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12 23C10.7764 23 10.0994 22.8687 9 22.5L6.89443 23.5528C5.56462 24.2177 4 23.2507 4 21.7639V19.5C1.84655 17.492 1 15.1767 1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12C23 18.0751 18.0751 23 12 23ZM6 18.6303L5.36395 18.0372C3.69087 16.4772 3 14.7331 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21C11.0143 21 10.552 20.911 9.63595 20.6038L8.84847 20.3397L6 21.7639V18.6303Z"
                class="home-svg group group-hover:fill-green-500 fill-white"
              ></path>
            </g></svg
          >
        </a>
      </li>
    </ul>
  </main>

  <svg class="arrows">
    <path class="a1" d="M0 0 L15 16 L30 0"></path>
    <path class="a2" d="M0 10 L15 26 L30 10"></path>
    <path class="a3" d="M0 20 L15 36 L30 20"></path>
  </svg>
</section>

<style>
  #profilePicture {
    animation-name: fadeInDown;
    animation-duration: 1.5s;
    animation-fill-mode: both;
  }

  h1 {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: linear-gradient(to right, rgb(0, 185, 130) 33%, #0077ff);
    background-clip: text;
    -webkit-background-clip: text;
    animation-name: fadeInLeft;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    overflow: hidden;
  }

  p {
    color: transparent;
    background: linear-gradient(to left, rgb(0, 185, 130) 33%, #0077ff);
    background-clip: text;
    -webkit-background-clip: text;
    animation-name: fadeInRight;
    animation-duration: 1.5s;
    animation-fill-mode: both;
  }

  a {
    transition:
      transform 0.3s ease,
      background-color 0.3s,
      border-color 0.3s;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  a:hover {
    transform: scale(1.2);
  }

  ul li {
    animation-name: fadeInUp;
    animation-duration: 1.5s;
    animation-fill-mode: both;
  }

  .arrows {
    width: 30px;
    height: 36px;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    bottom: 15px;
  }

  .arrows path {
    stroke: #ffffff;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 3s infinite;
    -webkit-animation: arrow 3s infinite;
  }

  @keyframes arrow {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @-webkit-keyframes arrow {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  .arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
  }

  .arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
  }

  .arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
  }

.home-svg {
  transition: fill 150ms;
}
  

  @media (width >= 640px) {
    a svg {
      width: 24px;
      height: 24px;
    }
  }

  @media (width >= 768px) {
    a svg {
      width: 28px;
      height: 28px;
    }
  }
</style>
