---
import Layout from "../layouts/Layout.astro";
---

<Layout title="No se ha encontrado la página">
  <main class="flex flex-col items-center justify-center text-center">
    <h1 class="text-white font-bold text-3xl">
      No se ha encontrado nada.
    </h1>
    <a href="/" class="bg-white px-8 py-2 mt-6 rounded-md font-medium hover:bg-slate-700 border-2 border-white hover:text-white hover:shadow-lg transition-all">Volver</a>
  </main>
</Layout>


<style>
  main {
    height: calc(100dvh - 28px);
  }
</style>