---
import Layout from "../layouts/Layout.astro";
import Home from "../sections/Home.astro";
import Skills from "../sections/Skills.astro";
import Projects from "../sections/Projects.astro";
import Contact from "../sections/Contact.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---



<Layout title="Adán Maidana | Portfolio" >
  <Navbar />
  <main>
    <Home />
    <Skills />
    <Projects />
    <Contact />
  </main>
  <Footer />
</Layout>

