---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Home from "../pages/sections/Home.astro";
import Projects from "../pages/sections/Projects.astro";
import Skills from "../pages/sections/Skills.astro";
import Contact from "../pages/sections/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Adán Maidana | Portfolio">
  <Navbar />
  <main>
    <div class="relative -z-50 h-full w-full bg-black"><div class="fixed -z-50 bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]"></div><div class="absolute left-0 right-0 top-0 -z-50 h-full w-full rounded-full bg-[radial-gradient(circle_400px_at_50%_300px,#fbfbfb36,#000)]"></div></div>
    <Home />
    <Projects />
    <Skills />
    <Contact />
  </main>
  <Footer />
</Layout>
