---
import Layout from "../layouts/Layout.astro";
import Home from "../sections/Home.astro";
import Skills from "../sections/Skills.astro";
import Projects from "../sections/Projects.astro";
import Contact from "../sections/Contact.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Adán Maidana | Portfolio">
  <Navbar />
  <main class="relative">
    <div id="background"></div>
    <Home />
    <Projects />
    <Skills />
    <Contact />
  </main>
  <Footer />
</Layout>

<style>
  #background {
    background: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
  }
</style>