---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Home from "../sections/Home.astro";
import Projects from "../sections/Projects.astro";
import Skills from "../sections/Skills.astro";
import Contact from "../sections/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Adán Maidana | Portfolio">
  <Navbar />
  <main class="relative">
    <div id="background"></div>
    <Home />
    <Projects />
    <Skills />
    <Contact />
  </main>
  <Footer />
</Layout>

<script type="module">
  document.addEventListener("DOMContentLoaded", function () {
    const sections = document.querySelectorAll("section");
    const navLinks = document.querySelectorAll("nav ul li a");

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            navLinks.forEach((link) => {
              link.classList.toggle(
                "active-link",
                link.getAttribute("href").substring(1) === entry.target.id
              );
            });
          }
        });
      },
      {
        threshold: 0.2, // Puedes ajustar este valor según tus necesidades
      }
    );

    sections.forEach((section) => {
      observer.observe(section);
    });
  });
</script>

<style>
  #background {
    background: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
  }
</style>