---
import { Image } from "astro:assets";
const { text } = Astro.props;

import IconHtml from '../assets/icons/html.svg';
import IconCss from '../assets/icons/css.svg';
import IconJavaScript from '../assets/icons/javascript.svg';
import IconBootstrap from '../assets/icons/bootstrap.svg';
import IconReact from '../assets/icons/react.svg';
import IconAstro from '../assets/icons/astro.svg';
import IconVite from '../assets/icons/vite.svg';

const icons = {
  HTML: IconHtml,
  CSS: IconCss,
  JavaScript: IconJavaScript,
  Bootstrap: IconBootstrap,
  React: IconReact,
  Astro: IconAstro,
  Vite: IconVite,
};

const selectedIcon = icons[text];

---

<>
  {selectedIcon && (
    <Image src={selectedIcon} alt={`${text} icon`} width={25} height={25} />
  )}
  <p class="flex justify-center items-center text-[.6rem] tracking-widest text-white font-normal">
    {text}
  </p>
</>
