---

---

<section id="contact" class="body-font relative mx-auto scroll-mt-4 px-4 my-20">
  <h2
    class="text-4xl font-bold text-center mb-4 text-emerald-400 flex justify-center items-end gap-x-3 italic"
  >
    Contactame
    <svg
      width="36px"
      height="36px"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
        id="SVGRepo_tracerCarrier"
        stroke-linecap="round"
        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
        <path
          d="M8 10H16M8 14H16M21.0039 12C21.0039 16.9706 16.9745 21 12.0039 21C9.9675 21 3.00463 21 3.00463 21C3.00463 21 4.56382 17.2561 3.93982 16.0008C3.34076 14.7956 3.00391 13.4372 3.00391 12C3.00391 7.02944 7.03334 3 12.0039 3C16.9745 3 21.0039 7.02944 21.0039 12Z"
          stroke="#c2ffe2"
          stroke-width="0.8399999999999999"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </g></svg
    >
  </h2>

  <p class="text-center text-white text-xl mb-4">
    Dejame un mensaje y te respondere cuanto antes
  </p>

  <svg
    width="30px"
    height="30px"
    class="mx-auto mb-8"
    viewBox="0 0 32.00 32.00"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns-sketch="http://www.bohemiancoding.com/sketch/ns"
    fill="#c2ffe2"
    stroke="#c2ffe2"
    ><g id="SVGRepo_bgCarrier" stroke-width="0"
      ><rect
        x="0"
        y="0"
        width="32.00"
        height="32.00"
        rx="16"
        fill="#000"
        stroke-width="0"></rect></g
    ><g
      id="SVGRepo_tracerCarrier"
      stroke-linecap="round"
      stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
      <title>arrow-down-circle</title>
      <desc>Created with Sketch Beta.</desc>
      <defs> </defs>
      <g
        id="Page-1"
        stroke="none"
        stroke-width="1"
        fill="none"
        fill-rule="evenodd"
        sketch-type="MSPage"
      >
        <g
          id="Icon-Set-Filled"
          sketch-type="MSLayerGroup"
          transform="translate(-414.000000, -1089.000000)"
          fill="#00ffa6"
        >
          <path
            d="M436.535,1105.88 L430.879,1111.54 C430.639,1111.78 430.311,1111.85 430,1111.79 C429.689,1111.85 429.361,1111.78 429.121,1111.54 L423.465,1105.88 C423.074,1105.49 423.074,1104.86 423.465,1104.46 C423.855,1104.07 424.488,1104.07 424.879,1104.46 L429,1108.59 L429,1098 C429,1097.45 429.448,1097 430,1097 C430.553,1097 431,1097.45 431,1098 L431,1108.59 L435.121,1104.46 C435.512,1104.07 436.146,1104.07 436.535,1104.46 C436.926,1104.86 436.926,1105.49 436.535,1105.88 L436.535,1105.88 Z M430,1089 C421.163,1089 414,1096.16 414,1105 C414,1113.84 421.163,1121 430,1121 C438.837,1121 446,1113.84 446,1105 C446,1096.16 438.837,1089 430,1089 L430,1089 Z"
            id="arrow-down-circle"
            sketch-type="MSShapeGroup"
          >
          </path>
        </g>
      </g>
    </g></svg
  >

  <form id="form" class="flex flex-wrap max-w-3xl mx-auto">
    <!-- form -->
    <div class="w-full p-2 md:w-1/2">
      <div class="relative">
        <input
          type="text"
          name="user_name"
          id="user_name"
          required
          class="peer w-full rounded border border-gray-700 hover:border-white bg-gray-800 bg-opacity-40 py-1 px-3 text-base leading-8 text-gray-100 placeholder-transparent outline-none transition-colors duration-200 ease-in-out focus:border-gray-600 focus:bg-gray-800 focus:ring-2 focus:ring-zinc-400"
          placeholder=""
        />
        <label
          for="user_name"
          class="absolute left-1 -top-7 bg-transparent text-sm leading-7 text-cyan-400 transition-all peer-placeholder-shown:left-3 peer-placeholder-shown:top-2 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:left-3 peer-focus:-top-6 peer-focus:text-sm peer-focus:text-cyan-300"
          >Nombre</label
        >
      </div>
    </div>
    <div class="mt-4 w-full p-2 md:w-1/2 md:mt-0">
      <div class="relative">
        <input
          type="email"
          name="user_email"
          id="user_email"
          required
          class="peer w-full rounded border border-gray-700 hover:border-white bg-gray-800 bg-opacity-40 py-1 px-3 text-base leading-8 text-gray-100 placeholder-transparent outline-none transition-colors duration-200 ease-in-out focus:border-gray-600 focus:bg-gray-800 focus:ring-2 focus:ring-zinc-400"
          placeholder=""
        />
        <label
          for="user_email"
          class="absolute left-1 -top-7 bg-transparent text-sm leading-7 text-cyan-400 transition-all peer-placeholder-shown:left-3 peer-placeholder-shown:top-2 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:left-3 peer-focus:-top-6 peer-focus:text-sm peer-focus:text-cyan-300"
          >Email</label
        >
      </div>
    </div>
    <div class="mt-4 w-full p-2">
      <div class="relative">
        <textarea
          id="message"
          name="message"
          class="peer h-32 w-full resize-none rounded border border-gray-700 hover:border-white bg-gray-800 bg-opacity-40 py-1 px-3 text-base leading-6 text-gray-100 placeholder-transparent transition-colors duration-200 ease-in-out focus:border-gray-600 focus:bg-gray-800 focus:ring-2 focus:ring-zinc-400 outline-none"
          placeholder=""></textarea>
        <label
          for="message"
          class="absolute left-1 -top-7 bg-transparent text-sm leading-7 text-cyan-400 transition-all peer-placeholder-shown:left-3 peer-placeholder-shown:top-2 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:left-3 peer-focus:-top-6 peer-focus:text-sm peer-focus:text-cyan-300"
          >Mensaje</label
        >
      </div>
    </div>
    <div class="w-full p-2">
      <input
        type="submit"
        id="button"
        value="Enviar mensaje"
        class="cursor-pointer mx-auto flex rounded py-2 px-8 text-lg text-black focus:outline-1"
      />
    </div>
  </form>
</section>

<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"
></script>

<script type="text/javascript">
  emailjs.init("M0qXtSYnIw_5LfW4p");

  const btn = document.getElementById("button");

  document.getElementById("form").addEventListener("submit", function (event) {
    event.preventDefault();

    btn.value = "Enviando...";

    const serviceID = "default_service";
    const templateID = "template_0magidq";

    emailjs.sendForm(serviceID, templateID, this).then(
      () => {
        btn.value = "Enviar mensaje";
        alert("Mensaje enviado con exito!");
        this.reset();
      },
      (err) => {
        btn.value = "Enviar mensaje";
        alert(JSON.stringify(err));
      }
    );
  });
</script>

<style>
  #button {
    background: linear-gradient(to right, #0f86bd 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: 0.3s ease;
    border: 1px solid #fff;
  }

  #button:hover {
    background-position: left bottom;
    color: #fff;
  }

  h2 {
    text-shadow: 0 0 20px rgb(0, 255, 157);
    -webkit-text-stroke: 1px white;
    letter-spacing: 1px;

    svg {
      filter: drop-shadow(0 0 10px rgb(0, 255, 157)) drop-shadow(0 0 10px rgb(0, 255, 157));
    }
  }
</style>
